@import "./scss/colors.scss";
@import "./scss/mixins.scss";
@import "./scss/variables.scss";

.wrapper {
  background-image: url("./assets/starsBg.svg");
  background-size: contain;
}

.container {
  margin: 0 auto 56px;
  position: relative;
}

.navigationLine {
  @include line(66px);
}
.optionLine {
  display: none;
}

@each $planet, $color in $planetColors {
  .#{$planet} {
    @include outlineColor($color);
  }
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0 24px 56px;
  }

  .navigationLine {
    @include line(64px);
  }
  .optionLine {
    display: block;
    @include line(117px);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    margin: 0 40px 56px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1110px;
  }
}
