@import "./colors.scss";
@import "./fonts.scss";
@import "./mixins.scss";

.button {
  font-family: $spartanFont;
  text-align: left;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.6px;
  font-weight: 700;
  text-transform: uppercase;

  max-width: 350px;
  padding: 12px 0;
  border: 1px solid $tranparentWhite;

  transition: $transition;

  span:first-child {
    color: $lightGrayColor;
    margin: 0 28px;
  }

  span:last-child {
    columns: $whiteColor;
    padding-right: 28px;
  }

  &:hover {
    background: $darkGrayColor;
    border-color: $darkGrayColor;
  }
}

.active-btn.mercury {
  @include background-color($cyanColor);
}
.active-btn.venus {
  @include background-color($yellowColor);
}
.active-btn.earth {
  @include background-color($purpleColor);
}
.active-btn.mars {
  @include background-color($brickColor);
}
.active-btn.jupiter {
  @include background-color($redColor);
}
.active-btn.saturn {
  @include background-color($orangeColor);
}
.active-btn.uranus {
  @include background-color($greenColor);
}
.active-btn.neptune {
  @include background-color($blueColor);
}

@media only screen and (max-width: 768px) {
  .active-btn.mercury {
    @include border-bottom-style($cyanColor);
  }
  .active-btn.venus {
    @include border-bottom-style($yellowColor);
  }
  .active-btn.earth {
    @include border-bottom-style($purpleColor);
  }
  .active-btn.mars {
    @include border-bottom-style($brickColor);
  }
  .active-btn.jupiter {
    @include border-bottom-style($redColor);
  }
  .active-btn.saturn {
    @include border-bottom-style($orangeColor);
  }
  .active-btn.uranus {
    @include border-bottom-style($greenColor);
  }
  .active-btn.neptune {
    @include border-bottom-style($blueColor);
  }
}
