@import "./colors.scss";
@import "./fonts.scss";
@import "./mixins.scss";
@import "./variables.scss";

.button {
  font-family: $spartanFont;
  text-align: left;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.6px;
  font-weight: 700;
  text-transform: uppercase;

  max-width: 350px;
  padding: 12px 0;
  border: 1px solid $tranparentWhite;

  transition: $transition;

  span:first-child {
    color: $lightGrayColor;
    margin: 0 28px;
  }

  span:last-child {
    columns: $whiteColor;
    padding-right: 28px;
  }

  &:hover {
    background: $darkGrayColor;
    border-color: $darkGrayColor;
  }
}

@each $planet, $color in $planetColors {
  .active-btn.#{$planet} {
    @include background-color($color);

    @media only screen and (max-width: 768px) {
      @include border-bottom-style($color);
    }
  }
}
