$whiteColor: #fff;
$tranparentWhite: rgba(255, 255, 255, 0.2);
$darkPurpleColor: #070724;
$darkGrayColor: #38384f;
$lightGrayColor: #838391;
$cyanColor: #419ebb;
$yellowColor: #eda249;
$purpleColor: #6f2ed6;
$brickColor: #d14c32;
$redColor: #d83a34;
$orangeColor: #cd5120;
$greenColor: #1ec2a4;
$blueColor: #2d68f0;
