@mixin border-style($borderColor) {
  border-top-color: ($borderColor);
}

@mixin border-bottom-style($borderColor) {
  border-bottom-color: ($borderColor);
  background: transparent;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}

@mixin background-color($color) {
  background: ($color);
  border-color: ($color);
}

@mixin color($color) {
  color: ($color);
}
