@import "../../scss/colors.scss";
@import "../../scss/fonts.scss";
@import "../../scss/animations.scss";

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 350px;
  align-self: flex-start;

  h1,
  p {
    margin-bottom: 23px;
  }
}

.image {
  width: auto;
  max-width: 800px;
  display: block;
  animation: spin 30s linear infinite;
}

.imageContent {
  position: relative;
}

.realImage {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 130px;
  border-radius: 100%;
  object-fit: cover;
  border: 5px solid $whiteColor;
  outline: 10px solid $cyanColor;
}

.link {
  font-family: $spartanFont;
  font-family: 14px;
  line-height: 25px;
  font-weight: 400;
  color: $lightGrayColor;

  a {
    color: $lightGrayColor;
    font-weight: 700;
    letter-spacing: 1px;
  }

  i {
    color: $lightGrayColor;
    font-size: 12px;
    margin-left: 8px;
  }
}

.details {
  display: flex;
  align-items: center;
  gap: 30px;

  margin-top: 90px;

  h4 {
    color: $lightGrayColor;
    margin-bottom: 4px;
  }

  div {
    width: 255px;
    border: 1px solid $tranparentWhite;
    padding: 20px 0 20px 20px;
  }
}

@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .image {
    width: 200px;
  }

  .realImage {
    width: 100px;
  }

  .link {
    font-size: 12px;
  }

  .content {
    max-width: 330px;
    padding: 0 24px;
    margin-top: 100px;
    align-self: center;
    text-align: center;
  }

  .details {
    flex-direction: column;
    padding: 0 24px;

    div {
      padding: 20px;
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      h4 {
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .row {
    flex-direction: column;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-top: 130px;
    padding: 0 40px;
  }

  .info {
    width: 340px;
  }

  .details {
    padding: 0 40px;
    gap: 10px;
  }
}
